<nav class="navbar navbar-default">
  <div class="container-fluid">   
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active current">
            <a routerLink="">Home</a>
          </li>
          <li routerLinkActive="active current">
              <a routerLink="/testpanels">Panels</a>
          </li>
          <li routerLinkActive="active current">
              <a routerLink="/glyphicons">Glyphicons</a>
          </li>
          <li routerLinkActive="active current">
            <a routerLink="/following" 
              [queryParams]="{page: 1, order: 'test' }">Following</a>
          </li>
          <li routerLinkActive="active current">
            <a routerLink="/posts">Posts</a>
          </li>
          <li routerLinkActive="active current">
            <a routerLink="/courses">Courses</a>
          </li>
          <li routerLinkActive="active current">
              <a routerLink="/contactform">Contact Form</a>
          </li>
          <li routerLinkActive="active current">
              <a routerLink="/createcourse">Create Course</a>
          </li>
          <li routerLinkActive="active current">
              <a routerLink="/newcourse">New Course</a>
          </li>
          <li routerLinkActive="active current">
              <a routerLink="/signup">Sign Up</a>
          </li>
          <li routerLinkActive="active current">
              <a routerLink="/formbuilder">Form Builder</a>
          </li>
          <li routerLinkActive="active current">
              <a routerLink="/changepassword">Change Password</a>
          </li>
          <li routerLinkActive="active current">
              <a routerLink="/inputfield">Input Field</a>
          </li>
          <li routerLinkActive="active current">
              <a routerLink="/ngif">NgIf</a>
          </li>
          <li routerLinkActive="active current">
              <a routerLink="/ngfor">NgFor</a>
          </li>
          <li routerLinkActive="active current">
              <a routerLink="/ngswitch">NgSwitch</a>
          </li>
          <li routerLinkActive="active current">
              <a routerLink="/unsorted">Unsorted</a>
          </li>           
        </ul>
      </div>    
  </div>
</nav>
